body {
    padding-top: 90px;
    padding-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.mainbar {
    background-color: #5cb85c;
    height: 75px;
}

h1 {
    font: oblique 25px bold ;
    color: whitesmoke;
}
h4 {
    font: oblique 18px bold ;
    color: darkred;
}

.pos {
     background-color: #d9534f;
    color: white;
}

a {
    text-decoration: underline;
}

.links:hover {
    background-color: white;
}