@{
    ViewBag.Title = "Распределитель";
}

<div class="jumbotron">
    <h1>Уважаемый сударь!</h1>
    <p class="lead">Приветствуем вас на борту корабля ИБ23-2. Далее вы должны войти в систему и выбрать необходимую для вас программу. Удачного вам полёта!</p>
    <a href="Captain" class="btn btn-primary btn-large">Капитан корабля &raquo;</a> 
    <a href="Logyst" class="btn btn-primary btn-large">Логист корабля &raquo;</a>
    <a href="Doctor" class="btn btn-primary btn-large">Знахарь корабля &raquo;</a>
    <a href="Police" class="btn btn-primary btn-large">Полицейский корабля &raquo;</a>
    <a href="Journalist" class="btn btn-primary btn-large">Журналист корабля &raquo;</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Деятельность журналиста</h2>
        <p>
            В данном разделе вы можете ознакомиться с текущей деятельностью журналиста, пристутствующего на борту корабля ИБ23-2,
            ознакомиться с основными изданными им новостями о происходящих внутри корабля событиях.
        </p>
        <p><a class="btn btn-default" href="#">Далее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Политика мира</h2>
        <p>Вам полезно не забывать об основным законах и постулатах мира!</p>
        <p><a class="btn btn-default" href="#">Далее &raquo;</a></p>
    </div>
</div>