@{
    ViewBag.Title = "Распределитель";
}

<div class="jumbotron" style="padding-top:10px; padding-bottom:20px; margin-bottom:0px;">
    <h1>Уважаемый сударь!</h1>
    <p class="lead">Приветствуем вас на борту корабля ИБ23-2. Далее вы должны войти в систему и выбрать необходимую для вас программу. Удачного вам полёта!</p>
    <a href="Captain" class="btn btn-primary btn-large">Капитан корабля &raquo;</a> 
    <a href="Logyst" class="btn btn-primary btn-large">Логист корабля &raquo;</a>
    <a href="Doctor" class="btn btn-primary btn-large">Знахарь корабля &raquo;</a>
    <a href="Police" class="btn btn-primary btn-large">Полицейский корабля &raquo;</a>
    <a href="Journalist" class="btn btn-primary btn-large">Журналист корабля &raquo;</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Деятельность журналиста</h2>
        <p>
            В данном разделе вы можете ознакомиться с текущей деятельностью журналиста, пристутствующего на борту корабля ИБ23-2,
            ознакомиться с основными изданными им новостями о происходящих внутри корабля событиях.
        </p>
        <p><a class="btn btn-default" href="#">Далее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Коренные законы и правила Парапитека</h2>
        <p>Судари и Сударыни! Все мы знаем законы и постулаты наизусть! 
        Но для вашего удобства вы можете всегда напомнить их себе здесь!</p>
        <p><a class="btn btn-default" href="Home/Rules">Далее &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Временная информация о сессии</h2>
        <p>Судари и Сударыни! Мы заботимся о вас! Чтобы вам было ещё удобнее и комфортнее выполнять свою функцию,
        вы можете посмотреть текущий временной остаток сессии здесь.</p>
        <p><a class="btn btn-default" href="Timer">Далее &raquo;</a></p>
    </div>
</div>