@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Законы и постулаты";
<h4>Постулаты</h4>
    <ul>
        <li>наш мир идеален;</li>
        <li>наш бог милосерден и справедлив;</li>
        <li>мы зовем нашего бога Перен и только ему дано изменять законы;</li>
        <li>мы родились для того, чтобы выполнять наши функции и ничто не может отвлечь нас от их исполнения;</li>
        <li>вся наша жизнь спланирована и протекает в соответствии с замыслом божьим;</li>
        <li>всё важно и все важны, каждая жизнь ценна;</li>
        <li>закон суров, но необходим, никогда не нарушай закон;</li>
        <li>смерти нет;</li>
        <li>славно трудись, а когда устанешь - тебя ждет вечность в домах счастья.</li>
    </ul>
<h4>Законы</h4>
    <ul>
        <li>воровство запрещено, никогда не бери чужого без спроса;</li>
        <li>все производится по плану;</li>
        <li>население должно быть здоровым, заболел - обратись к знахарю;</li>
        <li>любое нарушение закона преследуется и карается;</li>
        <li>долги запрещены (растраты – преступление);</li>
        <li>все преступники попадают в дома скорби до скончания времен.</li>
    </ul>
 <h4>Список каст:</h4>
    <ul>
        <li style="color:red;">те, кто делают</li>
        <li style="color:orange;">те, кто выполняют</li>
        <li style="color:yellow;">те, кто исполняют</li>
        <li style="color:green;">те, кто наблюдают</li>
        <li style="color:blue;">те, кто знают</li>
        <li style="color:blue;">те, кто правят, анализируют и принимают решения</li>
        <li style="color:purple;">те, кто правы и недоступны</li>
    </ul>
<h4>Прочая информация:</h4>
    <p align="justify">
        &raquo; Возможность вступить в брак предусмотрена между представителями одной касты. 
        Ребёнок наследует одну из специальностей родителей. 
        Чаще всего в брак вступают представители одной специальности и таким образом достигают 
        наиболее полного совершенства в своей профессии. 
        Браки между представителями разных каст запрещены, ибо дети, рожденные от таких браков, 
        не смогут овладеть никакой профессией, они помещаются в дома вечного сна до скончания веков.<br />&raquo;
        Что касается денежного вопроса, то заработная плата представителей младшей и старшей каст практически одинакова. 
        Никто не нищенствует, у всех есть работа. <br />&raquo;
        Как бы ни было странно, но представители младших каст в основном живут гораздо зажиточнее представителей старших каст: 
        последнее тратит больше денег на развлечения (театры, кино, путешествия), ибо как они утверждают, 
        им требуется вдохновение для работы.<br />&raquo;
        Если ты не можешь работать, то идешь к знахарю, ведь он знает как поступить. <br />&raquo;
        
        В случае серьёзного заболевания заболевшие помещаются в Дома здоровья для прохождения курса реабилитации и 
        дальнейшего направления в Дома счастья.
        Дома счастья находятся на прекрасных планетах, на которых живут люди, которые в силу возраста или болезни 
        не могут больше исполнять свои функции. В итоге туда попадают все примерно через 80-100 лет после своего рождения.<br />&raquo;
        В случае совершения преступления (нарушения закона), если это доказано в суде, преступники направляются в Дома скорби, 
        где содержатся до скончания времен, либо пока Бог Перен не простит их. Однако пока такого не случалось.
        <br />&raquo;
        Мир состоит из огромного количества планет, мир технически развит. И всем в нем комфортно. Смерти нет. 
    </p>
}


