@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-left">
            <li style="margin-top: 15px;"> Уважаемый сударь «@User.Identity.GetUserName()», добро пожаловать! </li>
            <li style="margin-left: 0px;"><a href="javascript:document.getElementById('logoutForm').submit()" class="links"> Сменить учетную запись.</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-left">
        <li>
            @Html.ActionLink("Войти в систему", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}