@model int
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Сессия";
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.countdown.js")
    
    <script type="text/javascript">
      
        $(function ($) {

            var note = $('#note'),
                ts = (new Date()).getTime() + parseInt($("#data").val());

            $('#countdown').countdown({
                timestamp: ts,
                callback: function (days, hours, minutes, seconds) {

                    var message = "";

                    message += "До конца текущей сессии осталось:" + " <br />";
                    message += minutes + " минут" + " и ";
                    message += seconds + " секунд" + " <br />";

                    if (minutes == 0 && seconds == 0) {
                        location.reload();
                    }
                    if (minutes == 19 && seconds == 55) { //начало новой сессии
                        var music = document.getElementById("music");
                        music.innerHTML = '<embed src="http://cs5446v4.vk.me/u14171330/audios/f731aff126c5.mp3?extra=RCk2RVT1pVVzzXJjtQaS7aDqF-pF9EwPltb4u4undSeruXXb9fqB4aDTTPDDdAEISm0u7PPU900Yd13QGs02-dWf0T123IQbTEav-ogYG5pcnqVn7jFJ1gLza2XPkqXp6Lz23l2P6w,6" type="audio/mp3"><noembed><bgsound="music.mp3"></noembed>';
                    }

                    if (minutes == 5 && seconds == 0) { //до конца сессии осталось 5 минут
                        var music = document.getElementById("music");
                        music.innerHTML = '<embed src="http://cs6150v4.vk.me/u162039496/audios/048345b1870b.mp3?extra=ISvR8tObdiN79ezLl6HidNDALW8ZyPmbwugnhSOiipkSenGGrXj6OzzE3MQ6LZP8gN7OEojQGlquCyGxeu1chJHv-a4dkG5L1kp4DbvmA1hprXdszVXFpZ3KeXoz93f9aMM5HGbPaA,5" type="audio/mp3"><noembed><bgsound="music.mp3"></noembed>';
                    }
                    note.html(message);
                }
            });

        });

    </script>

    <input type="text" id="data" style="display: none;" value="@Model">
	<div class="navbar">
        <p id="note" style="color: purple; font-size: 20px"></p>
    </div>
    <div id="music" style="display:none;"></div>

}


