@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Сессия";
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.countdown.js")
    @Scripts.Render("~/Scripts/timescript.js")

    <div id="countdown"></div>
	<p id="note"></p>
        
}


