@model int
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Сессия";
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.countdown.js")
    
    <script type="text/javascript">
      
        $(function ($) {

            var note = $('#note'),
                ts = (new Date()).getTime() + parseInt($("#data").val());

            $('#countdown').countdown({
                timestamp: ts,
                callback: function (days, hours, minutes, seconds) {

                    var message = "";

                    message += "До конца текущей сессии осталось:" + " <br />";
                    message += minutes + " минут" + " и ";
                    message += seconds + " секунд" + " <br />";

                    if (minutes == 0 && seconds == 0) {
                        location.reload();
                    }
                    if (minutes == 19 && seconds == 58) { //начало новой сессии
                        document.getElementById('track1').play();
                    }

                    if (minutes == 5 && seconds == 0) { //до конца сессии осталось 5 минут
                        document.getElementById('track2').play();
                    }
                    note.html(message);
                }
            });

        });

    </script>
    
    <audio id="track1" src="~/Media/new_session.mp3"></audio>
    
    <audio id="track2" src="~/Media/5minutes.mp3"></audio>
    
    <input type="text" id="data" style="display: none;" value="@Model">
    
	<div class="navbar">
        <p id="note" style="color: purple; font-size: 20px"></p>
    </div>
}


