@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ошибка";
    
    <h4>Данная система, в управление которой вы хотите попасть, не доступна для данной должности. <br /> 
        Для доступа к системе смените учетную запись.</h4>
    @Html.ActionLink("Вернуться на главную страницу", "Index", "Home");
}


